.card {
  display: flex;
  flex-direction: column;

  :global {
    .ant-card-body {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}

.title {
  margin-bottom: 0 !important;
}

.tags {
  padding-bottom: 24px;
}

.chartContainer {
  position: relative;
  flex-grow: 1;
}

.chartContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
